.matchups
	= form_tag pool_picks_path do
		- @matchups.each do |matchup|
			%fieldset.matchup
				= label_tag matchup.away_team
				= radio_button_tag "matchups[#{matchup.id}]", matchup.away_team_id
				%span.point-spread= point_spreadify(matchup.point_spread.to_f)
				%span.at-symbol @
				= label_tag matchup.home_team
				= radio_button_tag "matchups[#{matchup.id}]", matchup.home_team_id
		= submit_tag "Submit Picks"

.my-picks
	%table.picks-table{data: {total_picks: @current_entry.interval_picks(CURRENT_NFL_WEEK, false).count}}
		%thead
			%tr
				%th My Picks
			%tr
				%th Number
				%th Pick
		%tbody
			- 5.times do |i|
				%tr{class: "pick#{i+1}"}
					%td.pick-number.centered= i+1
					%td.pick

// STYLES ( COLLECT-LATER )
:sass
	.matchups
		width: 600px
		position: absolute
	.my-picks
		width: 300px
		position: absolute
		right: 200px
		.centered
			text-align: center
