%h1 USER ACCOUNT PAGE

.account-details
	%p= @current_user
	%p= @current_user.email

- if @current_user.entries.present?
	.pools
		%h3 My Entries
	- @current_user.entries.each do |entry|
		.entry
			= link_to "#{entry.pool} - #{entry}", pool_url(entry.pool.slug)
