.navigation
	= link_to "Home", root_url
	- if @current_user.present?
		= link_to "Account", user_account_url
		= link_to "Log Out", logout_url
	- else
		= link_to "Login", login_url
		= link_to "Register", signup_url
	- if @pool.present? && @current_user.has_entry_in_pool?(@pool)
		= link_to "#{@pool.name} Dashboard", pool_url(@pool.slug)
		= link_to "Admin Panel", admin_pool_url(@pool.slug) if @current_user.authorized_for_action_in_pool?("access-admin-panel", @pool)
		/ = link_to "Picks", new_pick_url(@pool.slug)
